$grayChateau : #99A2AB;
$regentGray : #8B95A0;
$athensGray : #ECEDEF;
$shuttleGray : #565D64;

// font
$font-family : Tahoma, Verdana, Segoe, sans-serif;

$fontsize-xl : 26px;
$fontsize-l : 20px;
$fontsize-m  : 18px;
$fontsize-base: 16px;
$fontsize-s  : 14px;
$fontsize-xs  : 13px;

$tablet-width: 768px;
$desktop-width: 1024px;
